.controller-transfer-section {
    padding: 24px 32px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: var(--light-gray, #F0F0F2);
}

.controller-transfer-tittle {
    color: var(--black, #384048);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.controller-transfer-buttons {
    margin-left: 35px;
}