.contract-connect-section {
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
    padding: 20px 32px;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
}

.contract-form-address-label {
    color: var(--dark-gray, #5D6670);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.contract-form-address-input {
    display: block;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    width: 492px;
    height: 44px;
    padding: 2px 16px;
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.contract-connect-buttons {
    margin-left: 45px;
    width: 100%;
    display: flex;
    gap: 30px;
}