.transaction-section {
    flex-grow: 1;
    width: 540px;
    margin-left: 30px;
    border-radius: 16px;
    background: var(--white, #FFF);
}

.transaction-section-tittle {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--black, #384048);
    color: var(--white, #FFF);
    padding: 24px 32px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.transcation-form-details {
    padding: 24px;
}

.transcation-form-details label {
    color: var(--dark-gray, #5D6670);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.transcation-form-details input {
    display: block;
    margin-top: 4px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    padding: 2px 16px;
    width: 490px;
    height: 44px;
}

.form-addres {
    margin-top: 20px;
    margin-bottom: 24px;
}

.trasnsaction-form-send-input {
    color: var(--black, #384048);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.transaction-form-addres-input {
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.btn-update-send-connect-disconnect:disabled {
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--light-gray);
    cursor: auto;
}