:root {
    --bg-color: #E6EBEE;

    --dark-blue: #0F5BAA;
    --blue: #1476CC;
    --light-blue: #BDDDFA;

    --white: #FFF;
    --black: #384048;

    --dark-gray: #5D6670;
    --gray: #8F959C;
    --light-gray: #F0F0F2;
    --light-gray-2: #DBDDDE;

    --blue-down: #9ac6f0;
}

body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family:'Fira Code', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 60px 165px;
    box-sizing: border-box;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
}

.header-tittle {
    color: var(--black, #384048);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.header-btn-connect {
    padding: 14px 55px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--blue);
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600px;
    cursor: pointer;
    border: none;
}

.header-btn-connect:hover {
    background:#0659b1
} 

.header-btn-connect:disabled {
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--light-gray);
    cursor: auto;
} 

.header-btn-connect img {
    margin-right: 10px;
}

/* Account-information-section */

.account-information-section {
    margin-top: 60px;
    display: flex;
}

.network-account-section {
    flex-grow: 1;
    width: 540px;
}

.network-section {
    display: flex;
    padding: 32px 24px;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
}
.network-section button {
    margin-left: 30px;
}

.network-details {
    padding: 5px 16px;
    display: flex;
    align-items: center;
    width: 235px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    color: var(--dark-gray, #5D6670);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.network-details span {
    color: var(--black, #384048);
    margin-left: 10px;
}

.btn-update-send-connect-disconnect {
    padding: 14px 24px;
    border-radius: 8px;
    border: 1px solid var(--blue, #1476CC);
    background: transparent;
    color: var(--blue, #1476CC);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    cursor: pointer;
}

.btn-update-send-connect-disconnect:hover {
    background: var(--blue, #1476CC);
    color: var(--white, #FFF);
}

.account-info {
    margin-top: 32px;
    background: var(--white, #FFF);
    border-radius: 16px;
    
}

.account-info-tittle {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--black, #384048);
    padding: 24px 34px;
    color: var(--white, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.account-details {
    padding: 32px;
}

.account-address,
.account-balance {
    color: var(--gray, #8F959C);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
}

#accountAddress {
    color: var(--red, #CD4444);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
#accountBalance {
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.account-address,
.account-balance {
    display: flex;
}
.account-span {
    position: relative;
    padding-bottom: 2px;
    width: 100%;
    margin-left: 10px;
}
.account-span::after {
    content: ""; 
    display: block; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    background-color: var(--black);
}
.account-balance {
    margin-top: 32px;
}

/* transaction-section */

.transaction-section {
    flex-grow: 1;
    width: 540px;
    margin-left: 30px;
    border-radius: 16px;
    background: var(--white, #FFF);
}

.transaction-section-tittle {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--black, #384048);
    color: var(--white, #FFF);
    padding: 24px 32px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.transcation-form-details {
    padding: 24px;
}

.transcation-form-details label {
    color: var(--dark-gray, #5D6670);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.transcation-form-details input {
    display: block;
    margin-top: 4px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    padding: 2px 16px;
    width: 490px;
    height: 44px;
}

.form-addres {
    margin-top: 20px;
    margin-bottom: 24px;
}

.trasnsaction-form-send-input {
    color: var(--black, #384048);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -0.14px;
}

.transaction-form-addres-input {
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.btn-update-send-connect-disconnect:disabled {
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--light-gray);
    cursor: auto;
}

/*contract-connect-section*/

.contract-connect-section {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
}

.contract-form-address-label {
    color: var(--dark-gray, #5D6670);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.contract-form-address-input {
    display: block;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    width: 492px;
    height: 44px;
    padding: 2px 16px;
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.contract-connect-buttons {
    margin-left: 45px;
}

/*contract-information-section*/

.contract-information-section {
    margin-top: 32px;
    background: var(--white, #FFF);
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
}

.contract-info-header {
    padding: 24px 32px;
    background: var(--black, #384048);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract-header-tittle {
    color: var(--white, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.btn-update-contract {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--blue, #1476CC);
    padding: 14px 24px;
    color: var(--white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    border: none;
    cursor: pointer;
}

.btn-update-contract:hover {
    background:#0659b1
}

.btn-update-contract img {
    margin-right: 10px;
}

/*contract-info-details*/

.contract-info-details {
    padding: 40px 32px 8px 32px;
    color: var(--gray, #8F959C);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
}

.contract-info-item {
    margin-bottom: 32px;
    display: flex;
}

.contract-info-item-text {
    white-space: nowrap;
}

.contract-info-item-span {
    position: relative;
    padding-bottom: 2px;
    width: 100%;
    margin-left: 5px;
}

.contract-info-item-span::after {
    content: ""; 
    display: block; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    background-color: var(--black);
}

/*controller-transfer-section*/

.controller-transfer-section {
    padding: 24px 32px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: var(--light-gray, #F0F0F2);
}

.controller-transfer-tittle {
    color: var(--black, #384048);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
}

.controller-transfer-buttons {
    margin-left: 35px;
}

/*inheritance-sign-section*/

.inheritance-sign-section {
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
    margin-top: 32px;
    padding: 32px 24px;
    display: flex;
    align-items: flex-end;
}

.inheritance-form-label {
    color: var(--dark-gray, #5D6670);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}
.inheritance-form-input {
    display: block;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    display: flex;
    width: 492px;
    height: 44px;
    padding: 2px 16px;
    margin-top: 5px;
    align-items: center;
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.btn-inheritance-sign {
    margin-left: 40px;
    border-radius: 8px;
    background: var(--blue, #1476CC);
    padding: 14px 24px;
    color: var(--white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    border: none;
    cursor: pointer;
}

.btn-inheritance-sign:hover {
    background:#0659b1;
}

/*inheritance-message-section*/

.inheritance-message-section {
    display: flex;
    width: 100%;
    margin-top: 32px;
}

.inheritance-message-get-section {
    width: 100%;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
}

.message-form-label {
    display: block;
    background: var(--black, #384048);
    padding: 24px 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: var(--white, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%; 
}

.message-form-input {
    display: block;
    width: 95%;
    height: 338px;
    padding: 9px 2px 9px 16px;
    border-radius: 8px;
    border: 1px solid var(--light-gray-2, #DBDDDE);
    background: var(--white, #FFF);
    color: var(--black, #384048);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.inheritance-message-send-section {
    width: 100%;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(56, 64, 72, 0.08);
    margin-left: 25px;
}

.inheritance-message-button {
    display: flex;
    justify-content: center;
}
.btn-inheritance-message {
    border: none;
    border-radius: 8px;
    background: var(--light-blue, #BDDDFA);
    padding: 14px 30px;
    color: var(--black, #384048);
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn-inheritance-message:hover {
    background: var(--blue);
    color: var(--white);
}
.btn-inheritance-message:disabled {
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--light-gray);
    cursor: auto;
}



@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        padding: 40px 20px;
    }

    header {
        display: block;
    }

    .header-tittle {
        font-size: 32px;
    }

    .header-btn-connect {
        margin-top: 30px;
        font-size: 17px;
    }

    /*account-information-section*/

    .account-information-section {
        margin-top: 25px;
        display: flex;
        width: 100%;
    }

    .network-account-section {
        width: 100%;
    }

    .network-section {
        padding: 32px 14px;
    }

    .network-details {
        font-size: 13px;
        padding: 2px 10px;
        font-weight: 200;
        line-height: 13px;
        width: 100%;
        height: 35px;
    }

    .btn-update-send-connect-disconnect {
        width: 100%;
        padding: 10px 20px;
        font-size: 13px;
    }

    .account-info-tittle {
        font-size: 16px;
    }

    .account-info-tittle {
        padding: 20px 15px;
    }
    
    .account-details {
        padding: 40px 15px;
    }
    .account-address,
    .account-balance {
        font-size: 14px;
    }
    #accountAddress,
    #accountBalance {
        font-size: 12px;
    }
    
    /*transaction-section*/

    .transaction-section {
        margin: 0px 0px 0px 15px;
        width: 100%;
    }

    .transaction-section-tittle {
        font-size: 16px;
        padding: 20px 15px;
    }
    .transcation-form-details input {
        width: 100%;
        height: 38px;
    }

    .transcation-form-details label {
        font-size: 16px;
    }

    .transcation-form-details input {
        width: 100%;
        height: 35px;
    }

    /*contract-connect-section*/

    .contract-connect-section {
        padding: 20px 15px;
    }

    .contract-form-address-input {
        height: 32px;
    }
    .contract-connect-buttons {
        margin: 32px 0px 0px 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #connectWalletButton,
    #disconnectWalletButton {
        width: 100%;
    }

    #disconnectWalletButton {
        margin-left: 10px;
    }
    .contract-info-header {
        padding: 20px 15px;
    }

    .contract-header-tittle {
        font-size: 16px;
    } 

    .contract-info-details {
        padding: 20px 15px;
    }

    .btn-update-contract {
        font-size: 12px;
        padding: 10px 20px;
    }

    .btn-update-contract img {
        width: 20px;
    }

    .contract-info-item {
        font-size: 14px;
    }

    /*controller-transfer-section*/

    .controller-transfer-section {
        padding: 20px 15px;
    }
    .controller-transfer-tittle {
        font-size: 19px;
        white-space: nowrap;
    }

    .controller-transfer-buttons {
        width: 100%;
        display: flex;
    }
    .controller-transfer-buttons button {
        width: 100%;
        margin-left: 30px;
    }

    /*inheritance-sign-section*/

    .inheritance-sign-section {
        padding: 20px 15px;
    }

    .inheritance-form-addres {
        width: 100%;
    }

    .inheritance-form-label {
        font-size: 11px;
    }

    .inheritance-form-input {
        height: 35px;
        font-size: 13px;
    }

    .btn-inheritance-sign {
        width: 100%;
        font-size: 15px;
        padding: 10.75px 24px;
    }


    .inheritance-message-section {
        width: 100%;
        display: flex;
        
    }
    
    .inheritance-message-get-section,
    .inheritance-message-send-section {
        width: 100%;

    }
    .inheritance-message-send-section {
        margin-left: 20px;
    }
    .message-form-label {
        font-size: 16px;
        padding: 20px 15px;
    }
    .message-form-input {
        width: 89%;
        font-size: 12px;
    }

}

/*tablet screen*/

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 768px;
        padding: 60px 40px;
    }

    header {
        display: block;
    }
    
    .header-tittle {
        font-size: 35px;
    }

    .header-btn-connect {
        margin-top: 30px;
        font-size: 20px;
    }

    /*account-information-section*/

    .account-information-section {
        margin-top: 50px;
        display: block;
        width: 100%;
    }

    .network-account-section {
        width: 100%;
    }
    
    /*transaction-section*/

    .transaction-section {
        margin: 32px 0px 0px 0px;
        width: 100%;
    }

    .account-info-tittle {
        font-size: 19px;
    }

    .account-address,
    .account-balance {
        font-size: 17px;
    }

    #accountAddress,
    #accountBalance {
        font-size: 15px;
    }
    
    .account-span {
        width: 100%;
        margin-left: 5px;
    }

    .transaction-section-tittle {
        font-size: 19px;
    }

    .transcation-form-details label {
        font-size: 13px;
    }

    .transcation-form-details input {
        width: 100%;
        height: 38px;
    }

    .btn-update-send-connect-disconnect {
        font-size: 15px;
    }

    /*contract-connect-section*/

    .contract-connect-section {
        display: block;
    }

    .contract-form-address-input {
        width: 100%;
    }
    
    .contract-connect-buttons {
        margin: 32px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }

    #connectWalletButton,
    #disconnectWalletButton {
        width: 100%;
    }

    #disconnectWalletButton {
        margin-left: 32px;
    }

    .contract-header-tittle {
        font-size: 19px;
    }
    .btn-update-contract {
        font-size: 15px;
    }

    .contract-info-item {
        font-size: 14px;
    }

    .contract-info-item-text {
        white-space: nowrap;
    }

    .contract-info-item-span {
        width: 100%;
        margin-left: 5px;
    }

    .controller-transfer-tittle {
        font-size: 19px;
    }

    /*inheritance-sign-section*/

    .inheritance-sign-section {
        display: block;
    }

    .inheritance-form-input {
        width: 100%;
        font-size: 13px;
        height: 38px;
    }

    .btn-inheritance-sign {
        margin: 32px 0px 0px 0px;
        font-size: 15px;
    }

    /*inheritance-message-section*/

    .inheritance-message-section {
        display: block;
    }


    .message-form-label {
        font-size: 19px;
    }

    .message-form-input {
        width: 93%;
    }

    .inheritance-message-send-section {
        margin: 32px 0px 0px 0px;
    }
}

/*mobile screen*/

@media (max-width: 378px) {
    .wrapper {
        padding: 20px 10px;
    }

    .header-tittle {
        font-size: 20px;
    }

    .header-btn-connect {
        font-size: 15px;
        padding: 10px 30px;
    }

    /*account-information-section*/

    .account-information-section {
        margin-top: 25px;
    }

    .network-section {
        display: block;
        padding: 20px 10px;
    }

    .network-details {
        width: 96%;
        padding: 5px 5px;
        font-size: 13px;
    }
    .btn-update-send-connect-disconnect {
        font-size: 12px;
        padding: 12px 22px;
    }
    #updateAccountButton {
        margin: 15px 10px 0px 0px;
        width: 100%;
    }

    .account-info {
        margin-top: 20px;
    }

    .account-info-tittle {
        font-size: 16px;
        padding: 14px 10px;
    }

    .account-details {
        padding: 25px 10px;
    }

    .account-address,
    .account-balance {
        font-size: 14px;
    }

    .account-balance {
        margin-top: 25px;
    }

    #account-address,
    #account-balance {
        font-size: 14px;
    }

    /*transaction-section*/

    .transaction-section {
        margin-top: 20px;
    }

    .transaction-section-tittle {
        padding: 14px 10px;
        font-size: 16px;
    }

    .transcation-form-details {
        padding: 14px 10px;
    }
    
    .transcation-form-details label {
        font-size: 11px;
    }

    .transcation-form-details input {
        height: 32px;
        font-size: 13px;
    }

    /*contract-connect-section*/

    .contract-connect-section {
        padding: 14px 10px;
    }

    .contract-form-address-label {
        font-size: 11px;
    }

    .contract-form-address-input {
        height: 32px;
        font-size: 13px;
    }

    .contract-connect-buttons {
        margin-top: 20px;
    }

    /*contract-information-section*/

    .contract-information-section {
        margin-top: 20px;
    }

    .contract-info-header {
        padding: 14px 10px;
    }

    .contract-header-tittle {
        font-size: 16px;
    }

    .btn-update-contract {
        font-size: 12px;
        padding: 10px 14px;
    }

    .btn-update-contract img {
        margin-right: 5px;
        width: 20px;
    }

    .contract-info-details {
        padding: 20px 10px 4px 10px;
        color: var(--gray, #8F959C);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 90%;
    }
    
    .contract-info-item {
        display: flex;
        flex-direction: column;
    }
    .contract-info-item-span {
        margin: 12px 0px 0px 0px;
    }

    /*controller-transfer-section*/

    .controller-transfer-section {
        display: block;
        padding: 14px 10px;
    }

    .controller-transfer-tittle {
        font-size: 16px;
    }

    .controller-transfer-buttons {
        margin: 15px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    /*inheritance-sign-section*/

    .inheritance-sign-section {
        padding: 14px 10px;
    }

    .inheritance-form-label {
        font-size: 11px;
    }

    .inheritance-form-input {
        height: 32px;
        font-size: 13px;
    }

    .btn-inheritance-sign{
        font-size: 12px;
        width: 100%;
        margin-top: 20px;
    }

    .message-form-label {
        padding: 14px 10px;
        font-size: 16px;
    }

    .message-form-input {
        width: 95%;
        margin: 0 auto;
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 13px;
    }

    .btn-inheritance-message {
        padding: 12px 15px;
    }
}

